@import 'variables';

@mixin flexDisplay($direction) {
  display: flex;
  flex-direction: $direction;
}

* {
  margin: 0;
}

body {
  font-family: "Open Sans";
  margin: 0;
  background-color: $body-background;
  height: auto;
}

h1 {
  text-align: center;
  color: $white;
  height: 80px;
  padding-top: 10px;
}

input {
  height: 15px;
  width: 50px;
}

.main {
  @include flexDisplay(row);
  height: 1500px;
  .main-sidebar-body {
    @include flexDisplay(row);
    width: 25%;
    height: 100%;
    .body-sidebar-sidebarContainer {
      background-color: $sidebar-background;
      border: 1px solid $black;
      @include flexDisplay(column);
      align-items: center;
      text-align: center;
      overflow: scroll;
        .sidebar-header-name {
          text-align: center;
        }
        .sidebar-header-userInfo {
          font-family: $font-style;
          font-weight: bold;
          font-size: 1.2em;
          margin: .5em .5em .5em .5em;
          width: inherit;
        }
        .sidebar-header-line {
          color: $white;
          border: 1px solid $black;
          margin: 1em 1em 0 1em;
          height: 0;
          width: 80%;
        }
        .sidebar-header-userImage {
          border-radius: 50%;
          border: 1px solid $black;
          height: 200px;
          width: 200px;
          margin: 4px 2px 2px 2px;
          justify-content: center;
        }
        .sidebar-body-friendContainer {
            @include flexDisplay(column);
            .sidebar-friendContainer-listItems {
              text-align: left;
            }
        }
    }
  }
}


.body-main-infoContainter {
  width: 100%;
  border: 1px solid $black;
  margin: 0 0 1em;
  @include flexDisplay(column);
  overflow: scroll;
    .main-column-hydration {
      @include flexDisplay(row);
    }
    .main-column-activity {
      @include flexDisplay(row);
    }
    .main-column-sleep {
      @include flexDisplay(row);
    }
}

.infoContainer-cardContainer-card-horizontal {
  width: 100%;
  background-color: $white;
  border: 1px solid $black;
  @include flexDisplay(column);
  align-items: center;
  margin: 1%;
  justify-content: space-around;
}

.horizontalCard-activity-container {
  @include flexDisplay(row);
  justify-content: space-around;
  width: 100%;
  overflow: scroll;
}

.infoContainer-cardContainer-card-vertical {
  width: 100%;
  background-color: $white;
  border: 1px solid $black;
  @include flexDisplay(row);
  margin: 1%;
  overflow: scroll;
}

.activity-input {
  display: flex;
  justify-content: space-around;
}

.sleep-input {
  display: flex;
  justify-content: space-around;
}

.hydration-input {
  display: flex;
  justify-content: space-around;
}

.input-label {
  color: $white;
  font-size: .95em;
}

.input-field {
  width: 10%;
}

::placeholder {
  color: $black;
  font-size: .85em;
}

@mixin todayDisplay($background, $fontSize, $margin, $content, $width) {
  text-align: center;
  background-color: $background;
  font-size: $fontSize;
  font-family: $font-style;
  margin: $margin;
  justify-content: $content;
  width: $width;
}

.card-today-hydration {
  @include todayDisplay($hydration-background, 1.5em, .5em, space-between, 80%)
  @include flexDisplay(column);
}

.card-today-sleep {
  @include todayDisplay($sleep-background, 1.5em, .5em, space-between, 80%)
  @include flexDisplay(column);
}

.card-today-activity {
  @include todayDisplay($activity-background, 1.5em, .3em, space-between, 40%)
  @include flexDisplay(column);
}

.card-history-hydration {
  @include todayDisplay($hydration-background, 1em, .5em, flex-start, 50%)
  @include flexDisplay(column);

}

.card-history-sleep {
  @include todayDisplay($sleep-background, 1em, .5em, flex-start, 50%)
  @include flexDisplay(column);

}

.card-history-activity {
  @include todayDisplay($activity-background, 1em, .5em, flex-start, 50%)
  @include flexDisplay(column);
}

.number {
  font-size: 2em;
  font-weight: bolder;
  color: $number-color;
  font-kerning: normal;
}

@mixin weekDisplay {
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  color: $black;
}

.historicalWeek {
  @include weekDisplay;
}

.thisWeek {
  @include weekDisplay;
}

.card-vertical-list {
  list-style-type: none;
  font-weight: lighter;
  font-style: italic;
  padding-left: 0;
  font-size: 1em;
}

.historical-list-listItem {
  padding: .3em;
  font-weight: bold;
  font-family: $font-style;
  text-align: center;
}
